$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Uncomment this for a sticky footer.

.wrapper-for-content-outside-of-footer {
  height: auto;
  margin: 0 auto -4em;
  min-height: 100%;
  // height: 100%;
}

html, body {
  height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.footer-2, .wrapper-for-content-outside-of-footer:after {
  height: 10em;

  @include media($large-screen) {
    height: 4em;
  }
}

.footer-2 {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  // background: $footer-background;
  background: #fff;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: rgba(51, 51, 51, 0.7);
    // color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #333;
      // color: transparentize($footer-color, 0);
    }
  }

  .copyright {
    @include span-columns(5);
    font-size: .85em;
    font-weight: 400;
    color: rgba(51, 51, 51, .7);

    a {
      text-decoration: none;
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        a i.ionicons {
          font-size: 1.5em;
          vertical-align: sub;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
