<section class="shopping-cart">
  <h1>Cart</h1>
  <div class="left">
    <div class="order_items" ng-show="basket.count() > 0">
      <table>
        <thead>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="item in basket.get() track by $index">
            <td>
              <img class="product-img" ng-src="{{item.image_thumb}}" alt="">
            </td>
            <td>{{item.name}}</td>
            <td>
              <div class="input">
                <input placeholder="Qty" required="required" aria-label="Qty" type="text" ng-model="item.quantity">
              </div>
            </td>
            <td>{{item.quantity * item.price | currency }}</td>
            <td><a href="" ng-click="basket.remove(item)"><i class="ionicons ion-ios-close-outline" style="color: tomato;"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="basket.count() == 0">
      <p> No items in your cart! <a href="#/menu">View Menu</a></p>
    </div>
  </div>
  <div class="right">
    <div class="summary">
      <p>Cart summary</p>
      <p>
        <b>Grand Total:</b> {{basket.totalAmount() | currency }}
      </p>
      <div class="submit-input">
        <input type="submit" ng-click="login(user)" value="Proceed to checkout" ng-disabled="{{isDisabled}}">
      </div>
    </div>
  </div>
</section>
