<section class="checkout">
  <h1>Checkout</h1>
  <div class="order_items" ng-show="basket.count() > 0">
    <table>
      <thead>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="item in basket.get() track by $index">
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.quantity * item.price | currency }}</td>
          <td><a href="" ng-click="basket.remove(item)">Remove</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">Total {{basket.totalAmount() | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <button class="btn btn-block btn-primary" ng-click="createOrder()" ng-disabled="basket.getTotalCount() < 1">
      <i class="icon-ok icon-white" /> Submit
    </button>
  </div>
  <div ng-show="basket.count() == 0">
    <p> No items in basket!</p>
  </div>
</section>
