<section class="checkout">
  <h4>Hi, {{currentUser.name}}</h4>

  <div ng-show="currentOrder">
    <p>Your order was successfully placed.</p>
    <p>Please proceed with Payment to finalize order.</p>
  </div>

  <div class="left">
    <div class="order_items" ng-show="currentOrder">
    <h4>Order Details:</h4>
      <p>Order ID: {{currentOrder.id}}</p>
      <p>Order status: {{currentOrder.status}}</p>
      <p>Total amount: {{orderTotalAmount | currency }}</p>
    </div>
  </div>

   <div ng-if="currentOrderError" class="flash-error">
    <span>{{currentOrderError}}</span>
  </div>

  <!-- stripe payment form -->
  <div ng-show="currentOrder">
    <form class="left" stripe-form="stripeCallback">
      <div class="input">
        <input ng-model="number" placeholder="Card Number" />
      </div>
      <div class="input">
        <input ng-model="expiry" placeholder="Expiration" />
      </div>
      <div class="input">
        <input ng-model="cvc" placeholder="CVC" />
      </div>
      <div class="submit-input">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

</section>
