section {
  @include outer-container;
  margin-bottom: 40px;
  margin-top: 60px;
}

.card {
  @include span-columns(3);

  .add-to-cart {
    float: right;
  }

  .price {
    font-weight: normal;
  }
}
